body{
    display:flex;
  }
  nav{
    
    height:100%;
    width:300px;
    position:fixed;
    
    border-right:3px solid black;
    border-bottom:3px solid black;
    
    top:0px;
    left:0px;
   
   
    
    
    
  }
  nav h1{
    font-size:30px;
    text-align:center;
  }
  
  nav ul{
    padding:0px;
    height:80%;
    
   
  }
  
  nav li{
    list-style-type:none;
    padding-bottom:5px;
    padding-top:10PX;
    font-size: 20px;
    border-bottom: 1px solid black;
    width:100%;
    text-align:center;
    
  }
  nav a {
    text-decoration:none;
    color:black;
  }
  
  #main-doc{
    width:100%;
    position:relative;
    margin-left:300px;
    padding-left:30px;
  }
  .main-section{
    font-size:25px;
    
    
  }
  .main-section h1{
    font-size:36px;
  }
  
  .main-section li{
    margin-left: 100px;
    padding-top: 20px;
  }
   
  code{
    color: red;
    font-family: Roboto;
    font-size:10px;
  }
  
  
  @media screen and (max-width: 700px) {
    
    nav{
      position: absolute;
      
      width: 100%;
      max-height: 200px;
      border: none;
      
    }
    nav h1{
      border-bottom:2px solid black;
    }
    
    
  
    
    #main-doc{
      margin-left:0px;
      padding:0px;
      margin-top:250px;
      position:relative;
     
    }
    
    
  }
  
  
  